@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  themes: light --default;
  --color-primary: #fc466b; /* Fallback from your gradient start */
  --color-secondary: #3f5efb;
  --color-redex: #ff2800;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
